.killer-sudoku-page {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	.ks-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px 0;
		padding: 0 10px;
		.ks-difficulty {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex: 1;
			.ks-d-title {
				font-size: 14px;
				// margin-right: 10px;
				color: #666;
			}
			.ks-d-menu {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
		.ks-h-center {
			align-items: center;
			display: flex;
			justify-content: center;
			// flex: 1;
			.ks-h-c-time {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				color: #666;
				font-weight: 700;
				font-size: 16px;
				span {
					margin-top: 2px;
				}
			}
		}
		.ks-h-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex: 1;
			.ks-h-r-inputMode {
				font-size: 14px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-left: 2px;
				span {
					font-size: 12px;
					margin-right: 4px;
					color: #aaa;
					font-style: italic;
					@media screen and (max-width: 460px) {
						display: none;
					}
				}
			}
			.ks-h-r-pause {
				margin-left: 2px;
			}
			.ks-h-r-more {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-left: 2px;
			}
		}
	}
	.ks-main {
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		&.Pink {
			--ksudoku-cell-border-color: #f3e3e8;
			--ksudoku-cell-error-bg-color: #f7e5ea;
			--ksudoku-cell-selected-bg-color: #f7e5ea;
			--ksudoku-cell-hide-bg-color: #fff;
			--ksudoku-cell-highlight-bg-color: #f3e3e8;
			--ksudoku-cell-sum-bg-color: #fff;
			--ksudoku-cell-sum-color: #eb96ad;
			--ksudoku-number-error-color: rgb(215, 0, 13);
			--ksudoku-number-filled-color: #444;
			--ksudoku-number-color: #eb96ad;
			--ksudoku-number-note-color: #666;
			--ksudoku-number-note-hightlight-color: #eb96ad;
			--ksudoku-number-border-color: #eb96ad;
			--ksudoku-palace-border-color: #eb96ad;

			--ksudoku-input-number-color: #eb96ad;
			--ksudoku-input-button-bg-color: #fce9ef;
			--ksudoku-input-button-bg-hover-color: #fce9ef;
			--ksudoku-input-button-bg-active-color: #fce9ef;
			--ksudoku-input-button-border-color: #eb96ad;

			--ksudoku-button-bg-color: #eb96ad;
			--ksudoku-button-bg-hover-color: #ec6e8f;
			--ksudoku-button-bg-active-color: #e6406c;
		}
		&.Blue {
			--ksudoku-cell-border-color: #e0e0df;
			--ksudoku-cell-error-bg-color: #f7e5ea;
			--ksudoku-cell-selected-bg-color: #cce9f9;
			--ksudoku-cell-hide-bg-color: #fff;
			--ksudoku-cell-highlight-bg-color: #cce9f9;
			--ksudoku-cell-sum-bg-color: #fff;
			--ksudoku-cell-sum-color: #3c424f;
			--ksudoku-number-error-color: rgb(215, 0, 13);
			--ksudoku-number-filled-color: #444;
			--ksudoku-number-color: #3393ce;
			--ksudoku-number-note-color: #666;
			--ksudoku-number-note-hightlight-color: #3393ce;
			--ksudoku-number-border-color: #24292d;
			--ksudoku-palace-border-color: #709fbb;

			--ksudoku-input-number-color: #3493cd;
			--ksudoku-input-button-bg-color: #d0e4f1;
			--ksudoku-input-button-bg-hover-color: #abd6f3;
			--ksudoku-input-button-bg-active-color: #89c7f0;
			--ksudoku-input-button-border-color: #1a87bf;

			--ksudoku-button-bg-color: #3393ce;
			--ksudoku-button-bg-hover-color: #1c78b2;
			--ksudoku-button-bg-active-color: #0d517b;
		}
		&.Mobile {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.killer-sudoku {
				// width: calc(var(--width) - 30px) !important;
				// height: calc(var(--width) - 30px) !important;
			}
		}
		//  calc(var(--width) * 0.00576) 3
		// calc(var(--width) * 0.01923) 10
		// calc(var(--width) * 0.00384) 2
		// calc(var(--width) * 0.001923) 1
		.killer-sudoku {
			--base-pixel: calc(var(--width) * 0.001923);
			// font-size: 340px;
			// font-size: 521px;
			// font-size: calc(var(--font-size));
			// --sudoku-width: 1em;
			// --sudoku-sum-font-size: 14px;
			// --sudoku-num-font-size: calc(var(--sudoku-width) / 15);
			// width: var(--sudoku-width);
			// grid-template-columns: auto auto auto auto auto auto auto auto auto;
			// grid-template-rows: auto auto auto auto auto auto auto auto auto;
			// margin-bottom: 0.038912em;

			// margin-left: 10px;
			// margin-left: calc(var(--width) * 0.01923);
			border: calc(var(--width) * 0.00576) solid
				var(--ksudoku-palace-border-color);
			border-radius: calc(var(--width) * 0.00576);

			width: calc(var(--width));
			height: calc(var(--width));

			display: grid;
			grid-template-rows: repeat(9, calc((var(--width) - 6px) / 9));
			grid-template-columns: repeat(9, calc((var(--width) - 6px) / 9));
			position: relative;

			.ks-item-wrap,
			.ks-item-none {
				display: flex;
				align-items: center;
				justify-content: center;
				width: calc(var(--width) / 9);
				height: calc(var(--width) / 9);
				border-right: calc(var(--base-pixel) * 2) solid
					var(--ksudoku-cell-border-color);
				border-bottom: calc(var(--base-pixel) * 2) solid
					var(--ksudoku-cell-border-color);

				position: relative;
				user-select: none;
				cursor: pointer;
				-webkit-tap-highlight-color: transparent;

				padding: calc(var(--base-pixel) * 2);
				&:nth-child(n + 19):nth-child(-n + 27),
				&:nth-child(n + 46):nth-child(-n + 54) {
					border-bottom: calc(var(--base-pixel) * 3) solid
						var(--ksudoku-palace-border-color);
				}

				// &:nth-child(9) {
				// 	border-bottom: none;
				// 	.ks-item-wrap {
				// 		border-bottom: none;
				// 	}
				// }
				&:nth-child(3n) {
					border-right: calc(var(--base-pixel) * 3) solid
						var(--ksudoku-palace-border-color);
				}
				&:nth-child(9n) {
					border-right: none;
				}
				// &:nth-last-child(-n + 9) {
				// 	border-bottom: none;
				// }

				&.errorRow,
				&.errorCol,
				&.errorPalace {
					background-color: var(--ksudoku-cell-error-bg-color);
					&::before {
						background-color: var(--ksudoku-cell-error-bg-color) !important;
					}
				}
				&.selected {
					background-color: var(--ksudoku-cell-selected-bg-color);
					// background-color: #eda4b397;
					&::before {
						background-color: var(--ksudoku-cell-selected-bg-color) !important;
					}
				}

				&.highlight {
					background-color: var(--ksudoku-cell-highlight-bg-color);
					&::before {
						background-color: var(--ksudoku-cell-highlight-bg-color) !important;
					}
				}
				&.hide {
					background-color: var(--ksudoku-cell-hide-bg-color) !important;
					&::before {
						background-color: var(--ksudoku-cell-hide-bg-color) !important;
					}
					&::after {
						display: none;
					}
					.ks-item-val {
						border: none;
					}
				}
				&.errorIndex {
					// background-color: rgb(254, 224, 224);
					.ks-item-val {
						color: var(--ksudoku-number-error-color);
					}
				}

				&.filled {
					.ks-item-val {
						color: var(--ksudoku-number-filled-color);
					}
				}
				&.first {
					position: relative;
					&::before {
						content: attr(data-sum);
						position: absolute;
						// font-size: var(--sudoku-sum-font-size);
						top: calc(var(--base-pixel) * 1);
						left: calc(var(--base-pixel) * 1);
						background-color: #fff;
						color: var(--ksudoku-cell-sum-color);
						font-size: calc(var(--base-pixel) * 14);
						font-weight: 700;
					}
				}

				&.right.top {
					position: relative;
					overflow: hidden;
					&::after {
						content: '';
						position: absolute;
						top: calc(var(--base-pixel) * -54);
						right: calc(var(--base-pixel) * -54);
						// background-color: #fff;
						color: var(--ksudoku-palace-border-color);
						width: calc(var(--width) / 9);
						height: calc(var(--width) / 9);
						border-left: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
						border-bottom: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
					}
				}
				&.top {
					padding-top: 0px;
					// position: relative;
					// overflow: hidden;
					// &::after {
					// 	content: '';
					// 	position: absolute;
					// 	top: -0.0856em;;
					// 	right: -0.0856em;;
					// 	background-color: #fff;
					// 	color: #eb96ad;
					// 	width: 0.0925em;;
					// 	height: 0.0925em;;
					// 	border-right: 1px dashed #eb96ad;
					// 	border-top: 1px dashed #eb96ad;
					// }
					.ks-item-val {
						border-top: none;
						padding-top: calc(var(--base-pixel) * 3);
					}
				}
				&.right.bottom {
					position: relative;
					overflow: hidden;
					&::after {
						content: '';
						position: absolute;
						bottom: calc(var(--base-pixel) * -54);
						right: calc(var(--base-pixel) * -54);
						// background-color: #fff;
						color: var(--ksudoku-palace-border-color);
						width: calc(var(--width) / 9);
						height: calc(var(--width) / 9);
						border-left: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
						border-top: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
					}
				}
				&.bottom {
					padding-bottom: 0px;
					.ks-item-val {
						border-bottom: none;
						padding-bottom: calc(var(--base-pixel) * 3);
					}
				}

				&.left.bottom {
					position: relative;
					overflow: hidden;
					&::after {
						content: '';
						position: absolute;
						bottom: calc(var(--base-pixel) * -54);
						left: calc(var(--base-pixel) * -54);
						// background-color: #fff;
						color: var(--ksudoku-palace-border-color);
						width: calc(var(--width) / 9);
						height: calc(var(--width) / 9);
						border-right: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
						border-top: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
					}
				}
				&.fourCellAdjacent {
					&::after {
						display: none;
					}
				}

				&.left {
					padding-left: 0px;
					.ks-item-val {
						border-left: none;
						padding-left: calc(var(--base-pixel) * 3);
					}
				}
				&.left.top {
					position: relative;
					overflow: hidden;
					&::after {
						content: '';
						position: absolute;
						top: calc(var(--base-pixel) * -54);
						left: calc(var(--base-pixel) * -54);
						// background-color: #fff;
						color: var(--ksudoku-palace-border-color);
						width: calc(var(--width) / 9);
						height: calc(var(--width) / 9);
						border-right: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
						border-bottom: calc(var(--base-pixel) * 2) dashed
							var(--ksudoku-number-border-color);
					}
				}
				&.right {
					padding-right: 0px;
					.ks-item-val {
						border-right: none;
						padding-right: calc(var(--base-pixel) * 3);
					}
				}

				// padding: 2px;
				.ks-item-val {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					// color: #58c8f2;
					color: var(--ksudoku-number-color);
					font-size: calc(var(--base-pixel) * 38);
					border: calc(var(--base-pixel) * 2) dashed
						var(--ksudoku-number-border-color);
					// font-weight: 200;
				}
				.ks-item-notes {
					position: absolute;
					top: calc(var(--base-pixel) * 14);
					left: calc(var(--base-pixel) * 10);
					display: grid;
					grid-template-columns: repeat(3, calc(var(--base-pixel) * 12));
					grid-template-rows: repeat(3, calc(var(--base-pixel) * 12));

					span {
						font-size: calc(var(--base-pixel) * 14);
						display: flex;
						justify-content: center;
						align-items: center;
						color: var(--ksudoku-number-note-color);
						&.highlight {
							color: var(--ksudoku-number-note-hightlight-color);
						}
						&.hide {
							opacity: 0;
						}
					}
				}
			}

			.ks-pause {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: var(--ksudoku-button-bg-color);
				border-radius: 50%;
				width: calc(var(--base-pixel) * 70);
				height: calc(var(--base-pixel) * 70);
				user-select: none;
				transition: all 0.3s;
				&:hover {
					background-color: var(--ksudoku-button-bg-hover-color);
				}
				&:active {
					background-color: var(--ksudoku-button-bg-active-color);
				}
				saki-icon {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.ks-new {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				user-select: none;
				transition: all 0.3s;
				.ks-new-button {
					span {
						font-size: 18px;
						font-weight: 700;
					}
				}
			}
		}
		.killer-input {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			--base-pixel: calc(var(--width) * 0.002873);
			.ki-wrap {
				width: calc(var(--width));
				// height: calc(var(--width) * 1.23);
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;

				.k-i-item {
					display: flex;
					align-items: center;
					justify-content: center;
					user-select: none;
					cursor: pointer;
					-webkit-tap-highlight-color: transparent;
					border-radius: 6px;
					// &.active {
					// 	background-color: var(--ksudoku-input-button-bg-color);
					// }
					span {
						// font-weight: 700;
						font-size: calc(var(--base-pixel) * 50);
						color: var(--ksudoku-input-number-color);
					}
				}
			}
			&.Pad,
			&.PC {
				.ki-wrap {
					padding: 0 0 0 calc(var(--base-pixel) * 10);
					display: grid;
					grid-template-rows: repeat(4, calc((var(--width)) / 3));
					grid-template-columns: repeat(3, calc((var(--width)) / 3));

					.k-i-item {
						margin: 0 calc(var(--base-pixel) * 10) calc(var(--base-pixel) * 10)
							0;
					}
				}
			}
			&.Mobile {
				.ki-wrap {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					margin-top: 14px;
					.k-i-item {
						margin: 0 calc(var(--base-pixel) * 12) calc(var(--base-pixel) * 10)
							0;

						&:nth-child(6n) {
							margin: 0 0 calc(var(--base-pixel) * 10) 0;
						}
						span {
							font-size: calc(var(--base-pixel) * 30);
						}
					}
				}
			}
			.ki-numbers {
				display: flex;
				justify-content: flex-end;
				padding: 0 6px;
				font-style: italic;
				color: #ccc;
				font-size: 12px;
				// margin-top: 6px;
			}
			.ki-buttons {
				display: flex;
				justify-content: space-between;
				// padding: 0 10px;
				padding-left: 10px;
				saki-button {
					flex: 1;
					height: calc(var(--base-pixel) * 66);
					&:nth-last-child(1) {
						margin-left: 10px;
					}
					span {
						font-size: calc(var(--base-pixel) * 24);
					}
				}
				@media screen and (max-width: 768px) {
					padding-left: 0px;
					saki-button {
						height: 50px;
						span {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
	.ks-introduce {
		margin: 40px 0 20px;
		padding: 0 20px;
		h1 {
			margin: 0 auto 10px;
			font-size: 28px;
			font-weight: 700;
			color: #333;
		}
		.ks-i-content {
			// margin: 0 auto 40px;
			margin: 0 auto 20px;
			p {
				font-size: 15px;
				line-height: 25px;
				color: #888;
			}
			h3 {
				margin: 6px auto 6px;
				font-size: 16px;
				font-weight: 700;
				color: #333;
			}
			ul {
				li {
					font-size: 15px;
					color: #888;
				}
			}
		}
	}
	.ks-footer {
		margin: 0 0 0px;
	}
}

.ks-d-m-button {
	font-size: 14px;
	// margin-top: 2px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	span {
		margin-right: 6px;
		font-weight: 700;
		color: #444;
		// color: var(--saki-default-color);
	}
}
.ks-d-m-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.inputMode-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
